.Bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 700rem;
  height: 80rem;
  background-color: #333;
  border-radius: 20px;
  bottom: 30rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}

.TotalPrice {
  display: flex;
  align-items: center;
  margin-left: 120rem;
  color: #fff;
  font-size: 40rem;
  font-weight: bold;
}

.TotalPrice::before{
  content: 'ï¿¥';
  font-size: 24rem;
}

.Button {
  border: none;
  background-color: #FCBF49;
  width: 200rem;
  border-radius: 20px;
  font-size: 36rem;
}

